.Wrapper--AddingPostBlock{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.AddingPostBlock{
    width: 700px;
    height: 400px;
    background-color: white;
    text-align: center;
    padding: 50px 50px 0 50px;

    &__Title{
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
    }
    &__Btn, &__CloseBtn{
        display: inline-block;
        margin: 20px 10px 0 10px;
        // margin-left: 510px;
    }
    
    &__input{
        width: 100%;
        height: 50%;
    }
}