.Wrapper--Edit--block{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.Edit--block{
    width: 700px;
    height: 400px;
    background-color: white;
    text-align: center;
    padding: 50px 50px 0 50px;
    
    &__Btn{
        cursor: pointer;
        display: block;
        width: 90px;
        height: 45px;
        margin-top: 40px;
        margin-left: 510px;
        border: none;
        background-color:#3371fb;
        color: white;
        font-size: 20px;
    }
    &__input{
        width: 100%;
        height: 50%;
    }
}

