*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    cursor: pointer;
    display: block;
    // width: 90px;
    height: 45px;
    border: none;
    background-color:#3371fb;
    color: white;
    font-size: 20px;
    padding: 5px;
}




.Authen{
    width: 400px;
    height: 400px;
    padding: 40px;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;

    .Authen--Btn{
        &__SingUp, &__Close{
            margin: auto;
            width: 90px;
        }
    }
}

input.Login::-webkit-input-placeholder {color:white ; opacity:0.8;}/* webkit */
input.Password::-webkit-input-placeholder {color:white ; opacity:0.8;}/* webkit */

.Login, .Password{
    font-size: 20px;
    margin-bottom: 40px;
    height: 50px;
    padding: 10px;
}

.header{
    width: 100%;
    background-color: #3371fb;
    display: flex;
    position: relative;
    height: 50px;
    align-items: center;
    margin-bottom: 50px;
    

    &--Btn_block{
        position: absolute;
        right: 20px;
        display: flex;
        align-items: center;
    }
    
    &--button{
        cursor: pointer;
        margin-left: 10px;
        border: none;
        background-color: #3371fb;
        color: white;
        font-size: 20px;

    }
}

.AddNewPage--Btn{
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 4px solid #A5A5A5,;
    color: #A5A5A5;
    font-size: 20px;
    width: 150px;
    height: 50px;
    right: 10px;
}

.Password{
    margin-bottom: 20px;
}

.Post--list{
         display: flex;
         flex-direction: column;
         align-items: center;
         
}

.Post{
    text-align: left;
    box-shadow: 0 0 10px #000000;
    margin-bottom: 50px;
    width: 600px;
    padding: 20px;
    
    &--text{
        margin-bottom: 10px;
    }
    
    
    &--header{
        display: inline-block;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    &--Clap{
        display: flex;
        align-items: center;
        background-color: #eaeaea;
        width: 80px;
        padding: 5px;
        margin-left: 475px;
    }

    &--Clap__Btn{
        cursor: pointer;
        height: 30px;
        width: 30px;
        margin-right: 15px;
    }
    
    &--Edit{
        display: flex;
        margin-left: 334px;
        &__Text,  &__Delete{
            cursor: pointer;
            display: flex;
            align-items: center;
            background-color: #eaeaea;
            margin-left: 10px;
            padding: 5px;

        }
    }
    
}
